table {
    border-collapse: collapse;   
    border: 1px solid #000;     
  }
  th, td {
    border: 1px solid #000;     
    padding: 10px;              
  }
  caption {
    caption-side: bottom;        
    text-align: right;          
  }
  th:first-child, td:first-child {
    text-align: left;           
  }
  th:nth-child(5), td:nth-child(5) {
    background: #e5f6f6;       
  }