.container{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
}
.box{
    padding: 10px;
    color: #fff;
    text-align: center;
}
#box1{ 
    background-color: aliceblue;
    grid-column: 1/4;
    grid-row-start: 1;
}
#box2{ 
    background-color: red;
    grid-row: 2/-1;
     grid-column-start: 1;
}
#box3{ 
    background-color: blue;
    grid-row-start: 2;
    grid-column: 2/-1;
}
#box4{ 
    background-color: skyblue;
    grid-row-start: 3;
    grid-column-start: 2;
}
#box5{
    background-color: yellow;
    grid-row-start: 2;
    grid-column: 2/-1;
}